* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgba(177, 160, 160, 0.9);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
