* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, sans-serif;
    background-color: rgba(231, 219, 219, 0.918);
}

.container {
    max-width: 1000px;
    padding: 10px;
    background-color: rgba(68, 221, 170, 0.514);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px 5px #333333;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}